.card-button {
  font-weight: bold;
  font-size: var(--step-2);
  background-color: var(--surface-1);
  color: var(--text-1);
  border: none;
  border-radius: 0.5rem;
  inline-size: 100%;
  padding-block: 0.75em;
  cursor: pointer;
  transition: background-color 100ms ease-in, color 100ms ease-in;
}

.card-button:is(:hover, :focus-visible) {
  background-color: var(--brand);
  color: var(--surface-1);
}

.card-button[data-size="small"] {
  padding-block: 0.25em;
  font-size: var(--step-1);
}

.card-button[data-variant="warn"] {
  background-color: transparent;
  border: 8px solid red;
}

.card-button[data-variant="warn"]:is(:hover, :focus-visible) {
  color: red;
  outline-color: red;
}
