.card-button {
  font-weight: bold;
  font-size: var(--step-2);
  background-color: var(--surface-1);
  color: var(--text-1);
  border: none;
  border-radius: 0.5rem;
  inline-size: 100%;
  padding-block: 0.75em;
  cursor: pointer;
}

.card-button:is(:hover, :focus-visible) {
  background-color: var(--brand);
  color: var(--surface-1);
}
