.message-input > textarea {
  background-color: var(--surface-2);
  color: var(--text-1);
  border-radius: 0.5rem;
  width: 100%;
  border: none;
  padding: 0.5em;
}

@media (min-width: 768px) {
  .message-input {
    grid-column: span 2;
  }
}
