.social {
  border-radius: 0.5rem;
  background-color: var(--surface-1);
  max-inline-size: 125px;
}

.social > a {
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  transition: transform 100ms ease-in;
}

.social > a:hover {
  transform: translate(5px, -5px);
}
